@font-face
  font-family "Open Sans"
  src: url("~/assets/fonts/opensans/opensansregular.woff2") format('woff2'),
    url("~/assets/fonts/opensans/opensansregular.woff") format("woff")
  font-weight normal
  font-style normal
  font-display swap

@font-face
  font-family "Open Sans"
  src: url("~/assets/fonts/opensans/opensanssemibold.woff2") format('woff2'),
    url("~/assets/fonts/opensans/opensanssemibold.woff") format("woff")
  font-weight bold
  font-style normal
  font-display swap

@font-face
  font-family "DINPro"
  src: url("~/assets/fonts/dinpro/dinproregular.woff2") format('woff2'),
    url("~/assets/fonts/dinpro/dinproregular.woff") format("woff")
  font-weight 400
  font-style normal
  font-display swap

@font-face
  font-family "DINPro"
  src url("~/assets/fonts/dinpro/dinpromedium.woff2") format('woff2'),
    url("~/assets/fonts/dinpro/dinpromedium.woff") format("woff")
  font-weight 500
  font-style normal
  font-display swap

@font-face
  font-family "DINPro"
  src url("~/assets/fonts/dinpro/dinprobold.woff2") format('woff2'),
    url("~/assets/fonts/dinpro/dinprobold.woff") format("woff")
  font-weight 700
  font-style normal
  font-display swap
