// Colors
$white          = #fff
$purple         = #2D3088
$blue           = #408FEC
$dgray          = #383E40
$mgray          = #666
$lgray          = #807E8A
$yellow         = #FFCD02
$purplegray     = #62626f
$red            = #ec4040
$green          = #33a830
$orange         = #ff8400

$color-font     = $purplegray
$font-opensans  = "Open Sans", Helvetica, sans-serif
$font-dinpro    = "DINPro", Helvetica, sans-serif

$color-bg       = #F2F4F8
$color-border   = #ededed

// Games
$color-csgo     = #f68934
$color-hs       = #783B17
$color-lol      = #39429d
$color-dota2    = #B44335
$color-ow       = #fac23d
$color-sc2      = #0F365D
$color-hots     = #36355F

// rupture
rupture.scale  = 0 400px 600px 800px 1050px 1800px
