.matches-list
  padding 20px 0

.matches-perday
  &+ .matches-perday
    margin-top 20px

.matches-timestamp
  font-family $font-dinpro
  color $dgray
  font-size 16px
  font-weight 500
  margin-bottom 15px

.matches-container
  width 100%

.matches
  flex-direction column
